html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  background-color: black;
}

.navbar{
  height: 80px;
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.navbar div h3{
  margin-left: 40px;
  width: auto;
  font-size: 30px;
}

ul{
  list-style-type: none;
  margin-right: 40px;
}

ul li{
  float: left;
  margin-left: 20px;
}

ul li a img{
  height: auto;
  width: auto;
  transition: transform 330ms ease-in-out;
}

ul li a img:hover{
  transform: translate(0px, -10px);
}

.container{
  height: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
}

.left_screen, .right_screen{
  width: 50%;
  height: auto;
}

.left_screen{
  display: flex;
  justify-content: center;
}

.left_screen .welcome_text{
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 100px;
}

.left_screen .welcome_text h1{
  font-size: 60px;
}

.left_screen .welcome_text h3{
  font-size: 30px;
}


.right_screen{
  display: flex;
  justify-content: center;
}

.me_img{
  position: absolute;
  bottom: -50px;
}

@media (max-width: 800px) {
  .container{
    display: flex;
    flex-direction: column;
  }

  .left_screen, .right_screen{
    width: 100%;
    height: 50%;
  }
}

/*
---------------------------------------------
3D hover effect
---------------------------------------------
*/

.pointer {
  cursor: pointer;
}
