html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  background-color: black;
}

.navbar{
  height: auto;
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.navbar div h3{
  margin-left: 40px;
  width: auto;
  font-size: 30px;
}

ul{
  list-style-type: none;
  margin-right: 40px;
}

ul li{
  float: left;
  margin-right: 20px;
}

.container{
  flex-basis: 100%;
  display: flex;
}

.left_screen, .right_screen{
  width: 50%;
}

.left_screen{
  display: flex;
  justify-content: center;
}

.left_screen .welcome_text{
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.left_screen .welcome_text h1{
  font-size: 60px;
}

.left_screen .welcome_text h3{
  font-size: 30px;
}


.right_screen{
  display: flex;
  justify-content: center;
}
